<!DOCTYPE html>
<div class="center hero unit">
	<% if signed_in? %>

	<%else%>
	  <p><%= link_to image_tag("WIP.jpg", alt: "Work in Progress", width: "550px", height: "auto", id: "WIP"), 'http://doctorcatmd.com/2011-01-10/doctor-cat' %></p>
	<%end%>
</div>

 