<!DOCTYPE html>
<div class="center hero unit">
	<table class = "table table-striped">
		<thead>
			<tr>
				<th>DATE</th>
				<th>LEADER</th>
				<th>ACOUSTIC</th>
				<th>ELECTRIC</th>
				<th>PIANO</th>
				<th>BASS</th>
				<th>DRUMS</th>
				<th>SAX</th>
				<th>VIOLIN</th>
				<th>SINGERS</th>
				<th>AM SOUND</th>
				<th>PM SOUND</th>
			</tr>
	    </thead>
	    <tbody>
	    	<tr>
	    		<td>01-July-2012</td>
	    		<td>Jo Gordon</td>
	    		<td>Graham Dargie</td>
	    		<td>Gareth Donaldson</td>
	    		<td>Rachael West</td>
	    		<td>Justin Kim</td>
	    		<td>Michael Robertson</td>
	    		<td>Tony Duncan</td>
	    		<td>N/A</td>
	    		<td>Team 1</td>
	    		<td>Lily Fox-Davies</td>
	    		<td>Dan Clews</td>
	    	</tr>
	    	<tr>
	    		<td>08-July-2012</td>
	    		<td>Jo Gordon</td>
	    		<td>Andy West</td>
	    		<td>Gareth Donaldson</td>
	    		<td>Helen Rowe</td>
	    		<td>Gareth Boswell</td>
	    		<td>Michael Robertson</td>
	    		<td>Chloe Kerr</td>
	    		<td>N/A</td>
	    		<td>Team 2</td>
	    		<td>Lal Dhillon</td>
	    		<td>Lily Fox-Davies</td>
	    	</tr>
	    	<tr>
	    		<td>15-July-2012</td>
	    		<td>Jo Gordon</td>
	    		<td>Graham Dargie</td>
	    		<td>Gareth Donaldson</td>
	    		<td>Rachael West</td>
	    		<td>Justin Kim</td>
	    		<td>Michael Robertson</td>
	    		<td>Tony Duncan</td>
	    		<td>Fran Hutchison</td>
	    		<td>Team 3</td>
	    		<td>Leon Harris</td>
	    		<td>Dan Clews</td>
	    	</tr>
	    </tbody>
	</table>
</div>
<%= link_to image_tag("WIP.jpg", alt: "Work in Progress", width: "300px", height: "auto", id: "WIP"), 'http://doctorcatmd.com/2011-01-10/doctor-cat' %>
 