<!DOCTYPE html>
<div class="center hero unit">
	<h1>Welcome to the home page for the TKCC Worship Planning App</h1>
	<h2>This page is still under construction, but for more details contact Justin Kim at TKCC</h2>
	<%= link_to "LOG IN", '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("WIP.jpg", alt: "Work in Progress", width: "320px", height: "auto", id: "WIP"), 'http://doctorcatmd.com/2011-01-10/doctor-cat' %>
 