<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>This will be the home page for the Kings Community Church Worship Planning App</p>
<p>When the user is not logged in, this will display the login page</p>
