<% provide(:title, 'LIBRARY') %>
<h1>LIBRARY</h1>
<p>Find me in app/views/static_pages/library.html.erb</p>
<p>This page will contain the library of songs, with functions
	to browse, add, delete, and edit existing songs.</p>
