<% provide(:title, 'LIBRARY') %>
<h1>LIBRARY</h1>
<p>Find me in app/views/static_pages/library.html.erb</p>
<p>This page will contain the library of songs, with functions
	to browse, add, delete, and edit existing songs.</p>
<p>
	The functions provided for managing songs include:
	<ul>
		<li><%=link_to "Browse songs", songs_path%></li>
		<li><%=link_to "Add song", new_song_path%></li>
		<li><%=link_to "Edit songs", '#'%></li>
		<li><%=link_to "Delete songs", '#'%></li>
	</ul>
</p>

