<% provide(:title, 'PEOPLE') %>
<h1>PEOPLE</h1>
<p>Find me in app/views/static_pages/people.html.erb</p>
<p>This page will be used for adding/editing/deleting band members
	The functions provided will also include adding roles</p>
