<h1>StaticPages#planning</h1>
<p>Find me in app/views/static_pages/planning.html.erb</p>
<p>This page will be used to plan services, and will provide 
	functions for creating and editing set lists.</p>
