<h2>Manage band member roles</h2>
<div id="roleDiv" class="span12 offset1">

  <table class="table table-striped table-bordered" id="roleIndex">
    <thead>
      <tr>
        <th>Band Member</th>
        <th>Role</th>
        <th>Remove role</th>
      </tr>
    </thead>
    <tbody>
      <%= render @assignments %>
    </tbody>
  </table>
</div>

