
<table class="table table-striped table-bordered" id="roleIndex">
  <thead>
    <tr>
      <th>Band Member</th>
      <th>Role</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <%= render @assignments %>
  </tbody>
</table>
<%= link_to "Add more roles", new_assignment_path, class: "btn btn-large btn-primary" %>