<div class="span8" id="workArea">
	<strong>SETLIST</strong>
	<table class="table table-striped table-bordered">
		<thead>
			<th>Order</th>
			<th>Title</th>
			<th>Artist</th>
			<th>Key</th>
			<th>Order</th>
			<th>Remove</th>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>How Great is our God</td>
				<td>Chris Tomlin</td>
				<td>G</td>
				<td>Up/Down</td>
				<td>Remove</td>
			</tr>
			<tr>
				<td>2</td>
				<td>You Alone Can Rescue</td>
				<td>Matt Redman</td>
				<td>Bb</td>
				<td>Up/Down</td>
				<td>Remove</td>
			</tr>
			<tr>
				<td>3</td>
				<td>God is Able</td>
				<td>Hillsong</td>
				<td>E</td>
				<td>Up/Down</td>
				<td>Remove</td>
			</tr>
		</tbody>
	</table>
</div>