<h1>This is a mock up of the new set list page</h1>
<h3>NOTE WILL NEED SOME WAY TO SET THE DATE</h3>
<h3>perhaps through an alert?</h3>
<p>Create your new set list here</p>

<div class="span7" id="library">
	<strong>LIBRARY</strong>
	  <%= render 'song' %>
</div>

