<h1>Edit a Setlist</h1>


<div class="row fluid">
   <div class="span8">
      <%=form_for(@setlist) do|f|%>
 
         <h2>Library</h2>	

        <div>
          <div id="library">
            <%= render 'library' %>
          </div>
          <div>
            <%= render 'currentSet' %>
          </div> 
        </div>
         
         <!--f.submit "Save Setlist", class: "btn btn-large btn-primary" %>
         link_to "Cancel Changes", setlist_path(@setlist), class: "btn btn-large btn-danger" --> 
      <% end %>


   </div>

  <div class="span6" id="recommender">
    <h2>Recommendations</h2>
    <div id="recSpace">
      <%= link_to image_tag("WIP.jpg", alt: "Work in Progress", width: "100%", height: "auto", id: "WIP"), 'http://doctorcatmd.com/2011-01-10/doctor-cat' %>
    </div> 
  </div>
</div>

