<h1>Edit a Setlist</h1>


<div class="row fluid">
   <div class="span8">
      <%=form_for(@setlist) do|f|%>
 
         <h2>Library</h2>	

        <div>
          <div id="library">
            <%= render 'library' %>
          </div>
          <div>
            <%= render 'currentSet' %>
          </div> 
        </div>
         
      <% end %>


   </div>

   

<div class="span7" id="recommender">
  <%= render 'recommender' %>
   
</div>

