<h1>Edit a Setlist</h1>


<div class="row fluid">
   <div class="span8">
      <%=form_for(@setlist) do|f|%>
 
         <h2>Library</h2>	

        <div>
          <div id="library">
            <%= render 'library' %>
          </div>
          <div>
            <%= render 'currentSet' %>
          </div> 
        </div>
         
         <!--f.submit "Save Setlist", class: "btn btn-large btn-primary" %>
         link_to "Cancel Changes", setlist_path(@setlist), class: "btn btn-large btn-danger" --> 
      <% end %>


   </div>

<div class="span7" id="recommender">
  <%= render 'recommender' %>
   
</div>

