<h1>List all setlists, have an edit link which leads to allocation path?</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Morning/Evening</th>	
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <%= render @setlists %>
  </tbody>
</table>