<% provide(:title, 'All users') %>
<h1>All users</h1>
<h3>This page will include functions for editing and deleting users, as well as adding roles to users</h3>

<ul class="users">
    	<%= render @users %>
</ul>