<h2>Remove song tags</h2>
<div id="allTags" class="span8">
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Song</th>
      <th>Tag Assignment</th>
      <th>Remove Tag</th>
    </tr>
  </thead>
  <tbody>
    <%= render @categorizations %>
  </tbody>
</table>
</div>