<h2>CCLI Return Data</h2>

<h3>This is a list of all the songs which have been added to the database over the past year.</h3>
<p>Could be improved further by creating a CCLI model? Every song has one CCLI (only deleted when a year passes)</p>
<p>This view could then be moved to the CCLI index page?</p>

<div id="CCLI" class="span6">
	<table class="table table-striped table-bordered">
		<thead>
			<th>Song Title</th>
		</thead>
		<tbody>
			<% @returns.each do |n| %>
			  <tr>
			  	<td><%= n.title %></td>
			  </tr>
			<% end %>
		</tbody>		
	</table>
</div>