<%provide(:title, 'SONGS')%>
<h3>Title: <%= @song.title %></h3> 
<h3>Artist: <%= @song.artist %></h3>
<h3>Lyrics: </h3>
<!-- the pre tags here preserve the whitespace -->
<p><pre><%= @song.lyrics %></pre></p> 
