<h3>This page lists the roles in the band</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Roles</th>
    </tr>
  </thead>
  <tbody>
    <%= render @roles %>
  </tbody>
</table>
