// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#commentArea{
	margin-top: 10px;
	padding-top: 5px;
	min-height: 20px;
	border: solid 1px;
    border-radius: 10px;
    border-color: #D3D3D3;
    background-color: #F9F9F9;
    max-height: 300px;
}

div#comment{
	margin-top: 15px;
	border-bottom: solid 1px;
	h5{
		float: right;
	}
}