// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dateField{
  float: left;
  width: 150px;
}

div#singerBox{
  width: 45%;
  border: solid 1px;
  border-radius: 10px;
  border-color: #D3D3D3;
  background-color: #F9F9F9;
}