<tr>
	<td><%= category.tag %></td>
	<td><%= link_to "DELETE TAG", category, method: :delete,
	                                data: { confirm: 
	                                	"Are you sure you want to delete this tag?" } %></td>
</tr>