<h2>Manage tags</h2>

<div class="span8">
	<table class="table table-striped table-bordered">
		<thead>
			<th>TAG</th>
			<th>REMOVE</th>
		</thead>
		<tbody>
			<%= render @categories %>
		</tbody>
	</table>

	<%= link_to "Add more tags", new_category_path, class: "btn btn-large btn-primary" %>
</div>

