<h2>Manage tags</h2>

<div class="span6">
	<table class="table table-striped table-bordered">
		<thead>
			<th>TAG</th>
			<th>REMOVE</th>
		</thead>
		<tbody>
			<%= render @categories %>
		</tbody>
	</table>
</div>
